.grow {
  @include no-border-center;
  background-color: $mainpurple;
  img {
    padding-top: 6%;
    width: 60%;
  }
  h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    padding-left: 20%;
    padding-right: 20%;
  }
  @media (min-width:$minwidth) {
    
    h2 {
      font-size: 80%;
      padding-left: 5%;
      padding-right: 5%;
    }
    img {
      padding-top: 6%;
      padding-bottom: 6%;
      padding-left: 4%;
      width: 40%;
    }
  }
  
    display:grid;
    margin: 0;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
  }

