.reseaux {
  @include no-border-center;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  padding-top: 6%;

  img {
    border-radius: 40%;
    width: 90%;
  }
  h2 {
    font-size: 30px;
    padding-left: 5%;
  }
}
@media (min-width: $minwidth) {
  .reseaux {
    margin: 0;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}
