$mainpurple:#7550DC;
$mainyellow:#FFCD6A;
$minwidth: 600px;

@mixin no-border-center{
     
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5%;
    margin-top: 10%;
  margin-right:10%;
    width: 100%;
  
}
